.tab-container {
    text-align: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #FFD700;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #FFA500;
}

.tab-content {
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #002366;
    padding: 20px;
    border-radius: 5px;
    display: none;  /* সরাসরি এনিমেশন ছাড়া দেখাবে */
}